
{% block page_content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card bg-secondary shadow h-100">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">List of Roles</h3>
                    </div>
                    <div>
                        <form action="http://localhost:8000/auth/logout"><button type="submit" >Logout</button></form>
                    </div>
                    <div class="col-4 text-right">
                        <a href="{% url 'role-create' %}" class="btn btn-sm btn-success">Create</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                    <tr>
                        <td>
                            <a href="{% url 'role-detail' role.id %}">{{role.id}}</a>
                        </td>
                        <td>{{role.name}}</td>
                        <td class="text-right">
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item" href="{% url 'role-update' role.id %}">Update</a>
                                  <a class="dropdown-item" href="{% url 'role-delete' role.id %}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
