<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body bgcolor= #faebd7>
<h1>This is your home page</h1>

<div style="height: 25px; width: 160px;">
    <form action="http://localhost:8000/resource/book"><button style="color: green" type="submit">View Book</button></form>
</div>
<div style="height: 25px; width: 160px;">
    <form action="http://localhost:8000/role"><button style="color: blue" type="submit" >View Role</button></form>
</div>
<div style="height: 25px; width: 160px;">
    <form action="http://localhost:8000/user"><button style="color: saddlebrown" type="submit" >View User</button></form>
</div>
<div style="height: 25px; width: 160px;">
    <form action="logout"><button style="color: darkred" type="submit" >Logout</button></form>
</div>

</body>
</html>